<div class="row">

  <!-- Start Calendar -->
  <div class="col-lg-12 col-xxl-8 order-1 order-xxl-2">
    <div class="card card-custom card-stretch gutter-b">
      <full-calendar #calendar style="padding: 20px;" [options]="calendarOptions"></full-calendar>
      <div class="row">
        <div class="col-lg-4 offset-lg-3 offset-md-3 offset-sm-1 col-sm-4 col-md-4"><div class='box approved'></div> = Approved</div>
      <div class="col-lg-4 col-sm-4 col-md-4"><div class='box pending'></div> = Pending</div>
      </div>
    </div>
  </div>

  <!-- Area to right of calendar -->
  <div class="col-lg-12 col-xxl-4 order-1 order-xxl-2">

    <!-- Start weather Card -->
  <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2">
    <div class="card overflow-hidden">
      <div class="card-content">
        <div class="card-img">
          <img class="card-img-top img-fluid height-300" src="./assets/media/sunny_wide.jpg" alt="Card image cap">
          <div class="card-img-overlay overlay-dark">
            <h4 class="card-title">Sunny</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-2 offset-1 text-center">
              <span class="d-block">Mon</span>
              <i class="fas fa-sun d-block primary font-large-1 my-3"></i>
              <span class="d-block">78&deg;</span>
              <span class="d-block">54&deg;</span>
            </div>
            <div class="col-2 text-center">
              <span class="d-block">Tue</span>
              <i class="fas fa-cloud-sun d-block primary font-large-1 my-3"></i>
              <span class="d-block">70&deg;</span>
              <span class="d-block">54&deg;</span>
            </div>
            <div class="col-2 text-center">
              <span class="d-block">Wed</span>
              <i class="fas fa-cloud-sun-rain d-block primary font-large-1 my-3"></i>
              <span class="d-block">69&deg;</span>
              <span class="d-block">51&deg;</span>
            </div>
            <div class="col-2 text-center">
              <span class="d-block">Thu</span>
              <i class="fas fa-cloud-showers-heavy d-block primary font-large-1 my-3"></i>
              <span class="d-block">64&deg;</span>
              <span class="d-block">57&deg;</span>
            </div>
            <div class="col-2 text-center">
              <span class="d-block">Fri</span>
              <i class="fas fa-wind d-block primary font-large-1 my-3"></i>
              <span class="d-block">72&deg;</span>
              <span class="d-block">46&deg;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start Pending Stays  -->
  <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Pending Stays</h4>
        <p class="card-text">Below is the request of stays that still need your attention.</p>
      </div>
      <div class="card-content">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let stay of getPendingStays()">
              <span class="float-right">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger btn-xs" ngbTooltip="Deny Request"
                ngbTooltipClass="kt-tooltip" placement="top"><i class="fas fa-ban"></i></button>
                <button type="button" class="btn btn-success btn-xs" ngbTooltip="Approve Request"
                ngbTooltipClass="default-tool" tooltipClass="default-tool" placement="top"><i class="fas fa-thumbs-up"></i></button>
              </div>
            </span>{{stay.title}}<br><small>{{stay.start | date: 'shortDate'}} - {{stay.end | date: 'shortDate'}}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-xxl-4">
    <app-mixed-widget1></app-mixed-widget1>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-lists-widget9></app-lists-widget9>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-stats-widget11></app-stats-widget11>
    <app-stats-widget12></app-stats-widget12>
  </div>
  <div class="col-lg-6 col-xxl-4 order-1 order-xxl-1">
    <app-lists-widget1></app-lists-widget1>
  </div>
  <div class="col-xxl-8 order-2 order-xxl-1">
    <app-advance-tables-widget2></app-advance-tables-widget2>
  </div>
  <div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
    <app-lists-widget3></app-lists-widget3>
  </div>
  <div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
    <app-lists-widget4></app-lists-widget4>
  </div>
  <div class="col-lg-12 col-xxl-4 order-1 order-xxl-2">
    <app-lists-widget8></app-lists-widget8>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <app-mixed-widget14></app-mixed-widget14>
  </div>
  <div class="col-lg-8">
    <app-advance-tables-widget4></app-advance-tables-widget4>
  </div>
</div>
